TinyTranslatorExportTranslationsClient/TinyTranslatorExportTranslationsClient/Service References/TinyTranslatorImportExportService/TinyTranslatorImportExportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TranslationSelection">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyID" type="xs:int" />
      <xs:element minOccurs="0" name="BundleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslationSelection" nillable="true" type="tns:TranslationSelection" />
</xs:schema>