TinyTranslatorExportTranslationsClient/TinyTranslatorExportTranslationsClient/Service References/TinyTranslatorImportExportService/TinyTranslatorImportExportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2853/Services/TinyTranslatorImportExportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectLocale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translations" nillable="true" type="tns:ArrayOfProjectLocale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfProjectLocale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectLocale" nillable="true" type="tns:ProjectLocale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectLocale" nillable="true" type="tns:ArrayOfProjectLocale" />
  <xs:complexType name="ProjectLocale">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LocaleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectLocale" nillable="true" type="tns:ProjectLocale" />
  <xs:complexType name="ArrayOfResourceAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceAssembly" nillable="true" type="tns:ResourceAssembly" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceAssembly" nillable="true" type="tns:ArrayOfResourceAssembly" />
  <xs:complexType name="ResourceAssembly">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastSyncDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="WorstTranslationStatus" type="tns:TranslationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceAssembly" nillable="true" type="tns:ResourceAssembly" />
  <xs:simpleType name="TranslationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_TRANSLATED" />
      <xs:enumeration value="NEW">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CORRECT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IMPORTED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="APPROVED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FINAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NO_NEED_TO_TRANSLATE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TranslationStatus" nillable="true" type="tns:TranslationStatus" />
  <xs:complexType name="ResourceSyncStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedAssemblies" type="xs:int" />
      <xs:element minOccurs="0" name="AddedBundles" type="xs:int" />
      <xs:element minOccurs="0" name="AddedResources" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedBundles" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedResources" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedBundles" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedResources" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceSyncStatistics" nillable="true" type="tns:ResourceSyncStatistics" />
  <xs:complexType name="TranslationSyncStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedTranslations" type="xs:int" />
      <xs:element minOccurs="0" name="ExistingTranslations" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceMismatch" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceNotFound" type="xs:int" />
      <xs:element minOccurs="0" name="UnchangedResource" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslationSyncStatistics" nillable="true" type="tns:TranslationSyncStatistics" />
</xs:schema>