TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient/Service References/TinyTranslatorSyncService/TinyTranslatorSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TinyTranslatorSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2853/Services/TinyTranslatorSyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2853/Services/TinyTranslatorSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2853/Services/TinyTranslatorSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.Model" />
      <xsd:import schemaLocation="http://localhost:2853/Services/TinyTranslatorSyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.Sync" />
      <xsd:import schemaLocation="http://localhost:2853/Services/TinyTranslatorSyncService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITinyTranslatorSyncService_GetProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_GetProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_GetResourceBundle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceBundle" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_GetResourceBundle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceBundleResponse" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_SyncResourceAssembly_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncResourceAssembly" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_SyncResourceAssembly_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncResourceAssemblyResponse" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_SyncBundles_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncBundles" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_SyncBundles_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncBundlesResponse" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_SyncBundleDeletions_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncBundleDeletions" />
  </wsdl:message>
  <wsdl:message name="ITinyTranslatorSyncService_SyncBundleDeletions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncBundleDeletionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITinyTranslatorSyncService">
    <wsdl:operation name="GetProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/GetProjects" message="tns:ITinyTranslatorSyncService_GetProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/GetProjectsResponse" message="tns:ITinyTranslatorSyncService_GetProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceBundle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/GetResourceBundle" message="tns:ITinyTranslatorSyncService_GetResourceBundle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/GetResourceBundleResponse" message="tns:ITinyTranslatorSyncService_GetResourceBundle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncResourceAssembly">
      <wsdl:input wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/SyncResourceAssembly" message="tns:ITinyTranslatorSyncService_SyncResourceAssembly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/SyncResourceAssemblyResponse" message="tns:ITinyTranslatorSyncService_SyncResourceAssembly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncBundles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/SyncBundles" message="tns:ITinyTranslatorSyncService_SyncBundles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/SyncBundlesResponse" message="tns:ITinyTranslatorSyncService_SyncBundles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncBundleDeletions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/SyncBundleDeletions" message="tns:ITinyTranslatorSyncService_SyncBundleDeletions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITinyTranslatorSyncService/SyncBundleDeletionsResponse" message="tns:ITinyTranslatorSyncService_SyncBundleDeletions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITinyTranslatorSyncService" type="tns:ITinyTranslatorSyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProjects">
      <soap:operation soapAction="http://tempuri.org/ITinyTranslatorSyncService/GetProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceBundle">
      <soap:operation soapAction="http://tempuri.org/ITinyTranslatorSyncService/GetResourceBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncResourceAssembly">
      <soap:operation soapAction="http://tempuri.org/ITinyTranslatorSyncService/SyncResourceAssembly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncBundles">
      <soap:operation soapAction="http://tempuri.org/ITinyTranslatorSyncService/SyncBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncBundleDeletions">
      <soap:operation soapAction="http://tempuri.org/ITinyTranslatorSyncService/SyncBundleDeletions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TinyTranslatorSyncService">
    <wsdl:port name="BasicHttpBinding_ITinyTranslatorSyncService" binding="tns:BasicHttpBinding_ITinyTranslatorSyncService">
      <soap:address location="http://localhost:2853/Services/TinyTranslatorSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>