TinyTranslatorSyncAssemblyClient/TinyTranslatorSyncAssemblyClient/Service References/TinyTranslatorSyncService/TinyTranslatorSyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.Sync" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TinyTranslatorApplicationServer.Sync" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SyncStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedAssemblies" type="xs:int" />
      <xs:element minOccurs="0" name="AddedBundles" type="xs:int" />
      <xs:element minOccurs="0" name="AddedResources" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedBundles" type="xs:int" />
      <xs:element minOccurs="0" name="RemovedResources" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedBundles" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedResources" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncStatistics" nillable="true" type="tns:SyncStatistics" />
</xs:schema>